
{% extends 'nav.html' %}

{% block content %}

<div class="container">
    <a href="{% url 'registerEmp' %}"><button type="button" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 30px;">Register Employee</button></a>
    <a href="{% url 'inputExpense' %}"><button type="button" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 30px;">Input Expense</button></a>
    <a href="{% url 'viewExpenses' %}"><button type="button" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 30px;">Track Expense</button></a>
    
</div>

{% endblock %}