{% extends 'nav.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <form action="{% url 'trackByTime' %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group">
                    <label for="dateFrom">From Date</label>
                    <input type="date" id="dateFrom" name="dateFrom" />
                </div>
                <div class="form-group">
                    <label for="dateTo">To Date</label>
                    <input type="date" id="dateTo" name="dateTo" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% if total != 0 %}
        <div class="row">
                <h1>Total Expenses from {{ dateFrom }} to {{ dateTo }}: {{ total }}</h1>
        </div>
        {% for exp in expenses %}
        <div class="row">
            name = {{ exp.name }}<span> id = {{ exp.id }}</span> <span> amount = {{ exp.amount }}</span>
        </div>
        {% endfor %}
        
    {% endif %}


</div>
<script>
    dateFrom.max = new Date().toISOString().split("T")[0];
    dateFrom.value = new Date().toISOString().split("T")[0];
    dateTo.max = new Date().toISOString().split("T")[0];
    dateTo.value = new Date().toISOString().split("T")[0];
</script>

{% endblock %}