{% extends 'nav.html' %}

{% block content %}
<div class="container">

    <div class="container">
        <a href="{% url 'trackByTime' %}"><button type="button" class="btn btn-primary btn-lg btn-block"
                style="margin-bottom: 30px;">Track by Time</button></a>
        <a href="{% url 'trackByTag' %}"><button type="button" class="btn btn-primary btn-lg btn-block"
                style="margin-bottom: 30px;">Track by Tags</button></a>
        <a href="{% url 'trackByDept' %}"><button type="button" class="btn btn-primary btn-lg btn-block"
                style="margin-bottom: 30px;">Track by Department</button></a>
        <a href="{% url 'trackByEmp' %}"><button type="button" class="btn btn-primary btn-lg btn-block"
                style="margin-bottom: 30px;">Track by per Employee</button></a>
    
    </div>

</div>

{% endblock %}