{% extends 'nav.html' %}

{% block content %}
<div class="container">

    <div class="container">
        <a href="{% url 'viewExpenses' %}"><button type="button" class="btn btn-primary btn-lg btn-block"
                style="margin-bottom: 30px;">Track by Time</button></a>
        <a href="{% url 'viewExpenses' %}"><button type="button" class="btn btn-primary btn-lg btn-block"
                style="margin-bottom: 30px;">Track by Tags and Department</button></a>
        <a href="{% url 'viewExpenses' %}"><button type="button" class="btn btn-primary btn-lg btn-block"
                style="margin-bottom: 30px;">Track by per Employee</button></a>
    
    </div>

</div>

{% endblock %}